
body {
  padding: 0;
  margin: 0;
  background: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.chat-thread {
  padding: 10px 6px 70px;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-thread li.left,.chat-thread li.right {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 15px;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 5px;
  background-color: rgba(25, 147, 147, 0.2);
  word-break:break-all;
  word-wrap:break-word;
  white-space:normal;
}

/* Chat - Avatar */
.chat-thread li.left .avatar,.chat-thread li.right .avatar {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: '';
}
/* Chat - Speech Bubble Arrow */
.chat-thread li.left:after,.chat-thread li.right:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(25, 147, 147, 0.2);
}

.chat-thread li.right {
  float: right;
  margin-left: 40px;
  margin-right: 80px;
  margin-top: 15px;
  color: #11776D;
}

.chat-thread li.right .avatar {
  right: -80px;
  background: #CBE6E4;
  text-align: center;
  padding: 10px;
  font-size: 28px;color:#fff;
}

.chat-thread li.right:after {
  border-right: 15px solid transparent;
  right: -15px;
}

.chat-thread li.left {
  float: left;
  margin-left: 80px;
  margin-right: 40px;
  margin-top:35px;
  color: #11776D;
}

.chat-thread li.left .avatar {
  left: -80px;
  background: #CBE6E4;
  text-align: center;
  padding: 10px;
  font-size: 28px;color:#fff;
  margin-top:-18px;
}
.chat-thread li.left:after {
  border-left: 15px solid transparent;
  left: -15px;
}

.chat-thread li.mid {
  position: relative;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 10px 0 0 0;
  clear: both;
}
.chat-thread li.mid span {
  color: #828C8B;
  padding: 5px 9px;
  font: 12px/16px 'Noto Sans', sans-serif;
  border-radius: 3px;
  background-color: rgba(182,193,193, 0.2);
}

.nick{
	position:absolute;
	top:-20px;left:0;
	width:120px;
	font-size:12px;
	color:#828C8B;
}